@page "/groceryitems"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using GreenPantryApp.Shared
@attribute [Authorize]
@inject HttpClient Http


<h3>Groceries</h3>

@code {

}
