
@page "/"
<body background="https://img.freepik.com/free-photo/bokeh-product-background_53876-92800.jpg?w=996&t=st=1686188324~exp=1686188924~hmac=7568287ca5c0f9fd990ada224f40c63650724fddcc92c03039abc8d5db3a960f">
<PageTitle>Index</PageTitle>

<div class="text-center">
    <h1 class="display-4" style="color:darkgreen">Welcome to your Green Pantry!</h1>
</div>
<div class="text-center">
    <h3 class="display-9" style="color:darkgreen">Where Saving Food Saves the World</h3>
</div>
<p>&nbsp;&nbsp;</p>
<div class="text-center">
    <a class="btn btn-outline-dark display-7" style="color:darkgreen" href="groceryList">Add food to your Pantry</a>
</div>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<div class="text-center">
    <h3 class="display-12" style="color:darkgreen">Work in progress</h3>
</div>
</body>