<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">Green Pantry App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grocerylist">
                <span data-icon="dashicons:food" class="iconify oi" aria-hidden="true"></span> Grocery Info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shoppinglist">
                <span data-icon="dashicons:cart" class="iconify oi" aria-hidden="true"></span> Shopping List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="receipt">
                <span class="iconify oi" aria-hidden="true" data-icon="dashicons:welcome-add-page"></span> Upload Receipt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipesearch">
                <span class="iconify oi" data-icon="dashicons:text-page" aria-hidden="true"></span> Recipe Search
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
